.about {
  /* background-color: #183c6f; */
  padding: 6rem 0;
}

.about-content {
  max-width: 64rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.about-text {
  font-size: 1.25rem;
  color: #d1d5db;
  line-height: 1.75;
}

.about-highlight {
  color: #60a5fa;
  font-weight: 600;
  margin-top: 2rem;
}