.liS {
  list-style: circle;
  font-size: 15px;
  color: black;
  /* background-color: #fb0c0c; */
  text-transform: unset;
  font-weight: unset;
}
.liS:hover {
  background-color: unset;
}
.net_error{
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  top: 0;
  overflow: hidden;
}