.pgErrs {
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
  font-size: 20px;
  background-color: white;
  /* background-color: rgb(1, 1, 32); */
  /* color: white; */
}
.pgErrs section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateY(50%);
}
.pgErrs section h1 {
  color: red;
  font-size: 49px;
  animation: titleSizeup 5s infinite;
  transition: all 5s ease-in-out;
}
.pgErrs section p {
  font-size: 24px;
  text-align: center;
  animation: textSizeup 5s;
}

.pageError {
  transition: color 3s;
  animation: icon 7s ease-in-out;
  position: relative;
  font-size: 29px;
}
@keyframes textSizeup {
  from {
    font-size: 23px;
  }
  to {
    font-size: 34px;
  }
}
@keyframes titleSizeup {
  from {
    background-image: linear-gradient(to right, red, blue, blue);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
  to {
    background-image: conic-gradient(red, red, blue);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
}
@keyframes icon {
  0% {
    color: red;
    transform: translate(-50%, -50%);
    transform: scale(23);
  }
  25% {
    transform: rotate(45deg);
    color: yellow;
    transition: all 2s ease-in-out;
  }
  50% {
    color: rgb(76, 76, 190);
    transform: rotate(90deg);
    filter: blur(40px);
  }
  75% {
    transform: rotate(180deg);
    transform: scale(2);
    color: red;
  }
  100% {
    /* transform: translateY(29px); */
    transform: rotate(360deg);
  }
}
.back {
  background-color: transparent;
  /* color: rgb(82, 82, 255); */
  color: black;
  border: none;
}
